@page "/"
@using IAODBV1.Services
@using IAODBV1.Models;
@inject IFlightServices fligtservices;
@inject NavigationManager navigationManager;
<h1>Flight in BASE DAD</h1>
@if(flights == null){
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}else{
    <center>
    <div class="table">
        <thead>
            <tr>
                <th scope="col">FlightNo</th>
                <th scope="col">Route</th>
              
                <th scope="col">Depature </th>
                <th scope="col">Arival </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var flight in flights){
                    <tr @onclick="@(()=>DisplayOption(flight))">
                    <th scope="row">@flight.FlightNo</th>
                    <td>@flight.Route</td>
                   
                
                    <td>@flight.SOBT</td>
                    <td>@flight.SIBT</td>
                </tr>
            }
            
        </tbody>
    </div>
    </center>
}

@code{
    private List<FlightModel> flights;
    protected override async Task OnInitializedAsync()
    {
        flights = await fligtservices.GetAllFlight();

    }
    private async void DisplayOption(FlightModel flightModel)
    {
        var response = await App.Current.MainPage.DisplayActionSheet("Select Option", "OK", null, "Update Flight", "Delete Flight");

        if (response == "Update Flight")
        {
            navigationManager.NavigateTo($"/updateflight/{flightModel.FlightId}");
        }
        else if (response == "Delete Flight")
        {
            Console.WriteLine("Delete Flight");
        }
    }
}
